h1, h2, h3, h4, h5, h6, p, li, span, a, label, input, textarea, select, blockquote, strong, table, div, article, section {
	font-family: 'Inter', sans-serif;
}

@mixin text($color, $weight, $size) {
	color: $color;
	font-weight: $weight;
	font-size: $size;
	line-height: 1.6;

	strong {
		font-weight: 700;
	}
}