@use '../config/sizes';

@mixin button($background, $border, $font) {
	background: $background;
	border: 1px solid $border;
	color: $font;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 6px;
	padding: sizes.$xxs sizes.$xs;
	position: relative;

	svg {
		margin-left: sizes.$xxs;
		width: 19px;
		position: absolute;
		right: sizes.$xs;
	}
}