@use '../config/fonts';
@use '../config/colors';
@use '../config/sizes';

.hero {
  background: linear-gradient(180deg, #8FD1F5 0%, #FFFFFF 100%), #C4C4C4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

  h1 {
    padding-top: sizes.$xl;
    text-align: center;
    margin: auto;
    @include fonts.text(colors.$black, 400, sizes.$s);
    text-transform: uppercase;
    max-width: 760px;
    line-height: 1;
  }
  
  p {
    max-width: 620px;
    @include fonts.text(colors.$black, 400, 18px);
    opacity: 0.6;
    text-align: center;
    margin: auto;
    margin-top: sizes.$s;
  }

  .product-mockup {
    margin-top: sizes.$xl;
    width: 100%;
  }
}