@use '../config/fonts';
@use '../config/colors';
@use '../config/sizes';

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    display: flex;
    align-items: center;
    margin-top: sizes.$xxxl;

    &.first {
      margin-top: sizes.$l;
    }

    .circle {
      margin-right: sizes.$m;
      position: relative;
      z-index: 1;
    }

    .product-mockup {
      position: relative;
      z-index: 1;
    }

    &#six {
      position: absolute;
      bottom: 0;
    }

    .text {
      max-width: 360px;

      h3 {
        @include fonts.text(colors.$black, 600, 18px);
        text-transform: uppercase;
      }
      
      p {
        @include fonts.text(colors.$black, 400, 18px);
        opacity: 0.6;
      }
    }

    &:nth-child(1) {
      margin-left: sizes.$xxxl;
    }
    
    &:nth-child(2) {
      margin-right: sizes.$xxxl;
    }
  }
}

.last-timeline-item {
  .wrapper {
    padding-bottom: 0;
  }
}