@use '../config/fonts';
@use '../config/colors';
@use '../config/sizes';

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    display: flex;
    align-items: center;
    margin-top: sizes.$xxxl;

    &.first {
      margin-top: sizes.$l;
    }

    .circle {
      margin-right: sizes.$m;
      position: relative;
      z-index: 1;
    }

    .product-mockup {
      position: relative;
      z-index: 1;
    }

    &#six {
      position: absolute;
      bottom: 0;
    }

    .text {
      max-width: 360px;

      h3 {
        @include fonts.text(colors.$black, 600, 18px);
        text-transform: uppercase;
      }
      
      p {
        @include fonts.text(colors.$black, 400, 18px);
        opacity: 0.6;
      }
    }

    &:nth-child(1) {
      margin-left: sizes.$xxxl;
    }
    
    &:nth-child(2) {
      margin-right: sizes.$xxxl;
    }
  }

  // iPad portrait
  @media screen and (max-width: 940px) {
    li {
      &:nth-child(1) {
        margin-left: 0;
      }
      
      &:nth-child(2) {
        margin-right: 0;
      }

      .product-mockup {
        max-width: 280px;
      }
    }
  }

  // Mobile landscape
  @media screen and (max-width: 720px) {
    li {
      margin-top: sizes.$l;

      .circle {
        margin-right: sizes.$xxs;
      }

      .text {
        h3, p {
          font-size: sizes.$xxs;
        }
      }
    }
  }

  // Mobile portrait
  @media screen and (max-width: 640px) {
    li {
      flex-direction: column;
      margin-top: sizes.$s;

      .circle {
        margin-right: 0;
      }

      .text {
        margin-top: sizes.$xxs;
        text-align: center;
      }

      &#six {
        bottom: -6rem;
      }
    }
  }
}

.last-timeline-item {
  .wrapper {
    padding-bottom: 0;

    .text-container {
      .contact-btn {
        min-width: 200px;
      }
    }
  }

  // Mobile portrait
  @media screen and (max-width: 640px) {
    padding-top: 6rem;

    .wrapper {
      .text-container {
        .contact-btn {
          min-width: auto;
        }
      }
    }
  }
}