@use '../config/fonts';
@use '../config/colors';
@use '../config/sizes';

.video {
  &.sand-bg {
    background-image: url('../../assets/img/bg/sand.jpg'), linear-gradient(293.08deg, #DE9845 29.88%, #EFA542 100%);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .wrapper {
    .text-container {
      padding-top: sizes.$l;

      video {
        width: 100%;
        border-radius: sizes.$xxs;
      }

      .benefits {
        padding-top: sizes.$xxl;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li {
          display: flex;
          align-items: center;
          margin-bottom: sizes.$s;

          .icon {
            background-color: colors.$white;
            width: 52px;
            height: 52px;
            border-radius: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: sizes.$xxs;

            svg {
              width: 24px;
            }
          }

          .text {
            h6 {
              @include fonts.text(colors.$black, 700, 18px);
              text-transform: uppercase;
              line-height: 1;
            }
            
            p {
              @include fonts.text(colors.$black, 400, 18px);
              opacity: .6;
            }
          }
        }
      }
    }
  }
}