@use '../config/fonts';
@use '../config/colors';
@use '../config/sizes';

.sand-bg {
  background-image: url('../../assets/img/bg/sand.jpg'), linear-gradient(90.18deg, #EBA03F 0.08%, #ECA13F 37.26%, #DD9844 99.76%);;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;

  .mountains {
    width: 100%;
  }

  // Mobile landscape
  @media screen and (max-width: 640px) {
    .mountains {
      margin-top: sizes.$xs;
    }
  }
}

.video {
  .wrapper {
    .text-container {
      padding-top: sizes.$l;

      video {
        width: 100%;
        border-radius: sizes.$xxs;
      }

      .benefits {
        padding-top: sizes.$xxl;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li {
          display: flex;
          align-items: center;
          margin-bottom: sizes.$s;

          .icon {
            background-color: colors.$white;
            width: 52px;
            height: 52px;
            border-radius: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: sizes.$xxs;

            svg {
              width: 24px;
            }
          }

          .text {
            h3 {
              @include fonts.text(colors.$black, 700, 18px);
              text-transform: uppercase;
              line-height: 1;
            }
            
            p {
              @include fonts.text(colors.$black, 400, 18px);
              opacity: .6;
            }
          }
        }
      }
    }
  }

  // iPad portrait
  @media screen and (max-width: 768px) {
    .wrapper {
      .text-container {
        .benefits {
          padding-top: sizes.$l;
          grid-template-columns: 1fr;
        }
      }
    }
  }

  // Mobile portrait
  @media screen and (max-width: 540px) {
    .wrapper {
      .text-container {
        .benefits {
          padding-top: sizes.$s;

          li {
            margin-bottom: sizes.$xs;

            .text {
              h3, p {
                font-size: sizes.$xxs;
              }
            }
          }
        }
      }
    }
  }
}